<div class='my-courses mt-4'>
  <div>
    <a href='/me/stored/courses'>Danh sách khóa học</a>
    <h3>Khóa học đã xóa</h3>
  </div>

  <table class='table mt-4'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Tên khóa học</th>
        <th scope='col'>Mô tả</th>
        <th scope='col'>Ngày tạo</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              href=''
              class='btn btn-edit btn-restore'
              name='btn-restore'
              data-bs-id='{{this._id}}'
            >Khôi phục</a>

          </td>
          <td>
            <a
              href=''
              class='btn btn-outline-danger'
              data-bs-toggle='modal'
              data-bs-target='#modal-confirm-destroy'
              data-bs-id='{{this._id}}'
            >Xóa vĩnh viễn</a>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan='5' class='text-center'>
            Thùng rác trống
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!Confirm delete }}

<div
  class='modal'
  tabindex='-1'
  id='modal-confirm-destroy'
  data-bs-theme='dark'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Xóa vĩnh viễn</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <p>Hành động này không thể khôi phục! Bạn có chắc chắn muốn xóa?</p>
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-confirm-delete'
          id='btn-destroy-confirm'
        >Xác nhận xóa vĩnh viễn</button>
        <button
          type='button'
          class='btn btn-cancel'
          data-bs-dismiss='modal'
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!DELETE hidden form}}

<form name='destroy4ever-form' method='POST' action=''></form>
<form name='restore-form' method='POST' action=''></form>

<script src='/script/restore_and_deleted_courses.js'>

</script>